ul { 
  padding: 0; 
  margin: 0; 
}

li { 
  list-style-type:none; 
} 

input.currency {
  min-width: 60px;
}

#save div.ui-slider {
  display: block;
  margin-left: 0;
  margin-bottom: 16px;
  width: 100%;
}

#save .ui-select {
  display: inline-block;
}

#habit .ui-content .ui-listview {
  margin-top: 10px;
}

#habit input.ui-input-text {
  display: inline-block;
  width: auto;
}