<!DOCTYPE HTML>
<html>
<head>
  <title>Sayvd</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="libs/css/jquery.mobile.min.css"/>

  <link rel="stylesheet" href="css/styles.css"/>

  <script src="libs/jquery-1.7.2.min.js"></script>
  <script src="libs/jquery.mobile.min.js"></script>
  <script src="cordova-1.7.0.js"></script>

  <script src="libs/underscore-min.js"></script>
  <script src="libs/backbone-min.js"></script>
  <script src="libs/backbone.localStorage-min.js"></script>

</head>
<body>

  <div data-role="page" id="splash">
    <div data-role="header" data-position="fixed" data-id="title">
      <h1>Sayvd</h1>
    </div>
    <div data-role="content">
      <h2>Sayvd Splashpage</h2>
      <p>
        Save for what you want!
      </p>
      <a href="#save" class="save" data-role="button">Get Saving!</a>
      <a href="#help0" class="setup" data-role="button">Get Started!</a>
    </div>
  </div>

  <div data-role="page" id="help0">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help0" data-role="button" data-icon="star" data-iconpos="notext"  class="ui-btn-active ui-state-persist">Help</a>
      <h1>Sayvd</h1>
      <a class="options" href="#config" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
    </div>
    <div data-role="content">
      <h2>Tour of the service</h2>
      <p>
        Sayvd.com allows you to save money on things you resist purchasing, by
        transferring cash from your account and storing it for you till you
        reach the goals you set up.
      </p>
      <div class="ui-grid-a">
        <div class="ui-block-a"></div>
        <div class="ui-block-b">
          <a href="#help1" class="help-next" data-role="button" data-icon="arrow-r" data-iconpos="notext">Next</a>
        </div>
      </div>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="help1">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help1" data-role="button" data-icon="star" data-iconpos="notext"  class="ui-btn-active ui-state-persist">Help</a>
      <h1>Sayvd</h1>
      <a class="options" href="#config" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
    </div>
    <div data-role="content">
      <h2>Can I have my money back whenever I want?</h2>
      <p>
        Your money is yours even if its not within your immediate
        reach. You can have it back whenever you like. Allow 4
        bank days, bank standard.
      </p>
      <div class="ui-grid-a">
        <div class="ui-block-a">
          <a href="#help0" class="help-last" data-role="button" data-icon="arrow-l" data-iconpos="notext">Back</a>
        </div>
        <div class="ui-block-b">
          <a href="#help2" class="help-next" data-role="button" data-icon="arrow-r" data-iconpos="notext">Next</a>
        </div>
      </div>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="help2">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help2" data-role="button" data-icon="star" data-iconpos="notext" class="ui-btn-active ui-state-persist">Help</a>
      <h1>Sayvd</h1>
      <a class="options" href="#config" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
    </div>
    <div data-role="content">
      <h2>Any hidden costs?</h2>
      <p>
        We charge you 1% for the transaction fee. So that's £6 for
        a snowboard worth £600. Could be worth it..
      </p>
      <h2>How safe is it?</h2>
      <p>
        We use x for transactions who have a transaction FSA
        approval, like any other bank.
      </p>
      <div class="ui-grid-a">
        <div class="ui-block-a">
          <a href="#help1" class="help-last" data-role="button" data-icon="arrow-l" data-iconpos="notext">Back</a>
        </div>
        <div class="ui-block-b">
          <a href="#firstgoal" class="help-next last" data-role="button" data-icon="arrow-r" data-iconpos="notext">Next</a>
        </div>
      </div>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="firstgoal">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#firstgoal" data-role="button" data-icon="star" data-iconpos="notext" class="ui-btn-active ui-state-persist">Help</a>
      <h1>Sayvd</h1>
    </div>
    <div data-role="content">
      <h2>What would you like to save for?</h2>
      <p>Save for a snowboard, a trip or the deposit for an apartment.</p>
      <input class="name" type="text" value="Insert dream toy here"></input>
      <div>Approximate price £ <input class="target currency" type="range" value="600" min="20" step="10" max="1000"></input></div>
      <a class="save" href="#setup" data-role="button">Save</a>
    </div>
  </div>

  <div data-role="page" id="setup">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#setup" data-role="button" data-icon="star" data-iconpos="notext" class="ui-btn-active ui-state-persist">Help</a>
      <h1>Sayvd</h1>
    </div>
    <div data-role="content">
      <p>Congratulations, you have just set up your first saving goal, a <span class='goal'></span>.</p>
      <p>You can save virtually or add a credit card or account that will be debited whenever you save.</p>
      <a href="#test" class="ui-disabled" data-role="button">Add card/bank account</a>
      <a href="#test" data-role="button">Go virtual</a>
    </div>
  </div>

  <div data-role="page" id="test">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#test" data-role="button" data-icon="star" data-iconpos="notext" class="ui-btn-active ui-state-persist">Help</a>
      <h1>Sayvd</h1>
    </div>
    <div data-role="content">
      <p>Great, you can now start moving your money from your immediate reach towards your goal.</p>
      <div>
        This is a test, I'm saving <span class="amount">£1</span>
      </div>
      <div>
        For a <span class="goal"></span>.
      </div>
      <a href="#goal" class="save done" data-role="button">Save</a>
    </div>
  </div>

  <div data-role="page" id="save">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help0" data-role="button" data-icon="star" data-iconpos="notext">Help</a>
      <h1>Sayvd</h1>
      <a class="options" href="#config" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
    </div>
    <div data-role="content">
      <div>
        <span>I didn't </span><span class="habit"></span><span> and</span>
      </div>
      <div>saved £ <input type="range" class="amount currency" value="1.0" min="0.1" step="0.01" max="50"></input></div>
      <div>
        <span>for a </span><span class="goal"></span>
      </div>
      <a href="#goal" class="save" data-role="button">Save</a>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save" class="ui-btn-active ui-state-persist">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="habit">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help0" data-role="button" data-icon="star" data-iconpos="notext">Help</a>
      <h1>Sayvd</h1>
      <a class="options" href="#config" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
    </div>
    <div data-role="content">
      <input class="habit" type="text" value="Type your habit"></input>
      <a class="save" data-role="button" data-inline="true">OK</a>
      <ul class="habit-list" data-role="listview" data-inset="true">
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save" class="ui-btn-active ui-state-persist">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="goal">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help0" data-role="button" data-icon="star" data-iconpos="notext">Help</a>
      <h1>Sayvd</h1>
      <a class="options" href="#config" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
    </div>
    <div data-role="navbar">
      <ul>
        <li><a href="#goal" class="ui-btn-active ui-state-persist">My goals</a></li>
        <li><a href="#newgoal">New goal</a></li>
      </ul>
    </div>
    <div data-role="content">
      <ul class="goal-list" data-role="listview">
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal" class="ui-btn-active ui-state-persist">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/template" id="goal-li-template">
    <li>
      <div>Goal</div>
      <div>
        <div class="left">
          <div class="percentage"><%= percentage %>%</div>
        </div>
        <div class="right">
          <div><%= name %></div>
          <div>Saved £<span class='saved-num'><%= saved %></span> of £<%= target %></div>
        </div>
      </div>
    </li>
  </script>

  <div data-role="page" id="newgoal">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help0" data-role="button" data-icon="star" data-iconpos="notext">Help</a>
      <h1>Sayvd</h1>
      <a class="options" href="#config" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
    </div>
    <div data-role="navbar">
      <ul>
        <li><a href="#goal">My goals</a></li>
        <li><a href="#newgoal" class="ui-btn-active ui-state-persist">New goal</a></li>
      </ul>
    </div>
    <div data-role="content">
      <div class="subtitle">Set a new goal</div>
      <div>What are you saving for?</div>
      <input class="name" type="text" value="Goal"></input>
      <div>Price £ <input class="target currency" type="range" value="100" min="20" step="10" max="1000"></input></div>
      <a class="save" href="#goal" data-role="button">Save</a>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal" class="ui-btn-active ui-state-persist">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="feed">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help0" data-role="button" data-icon="star" data-iconpos="notext">Help</a>
      <h1>Sayvd</h1>
      <a class="options" href="#config" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
    </div>
    <div data-role="content">
      <ul class="save-list" data-role="listview">
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed" class="ui-btn-active ui-state-persist">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/template" id="feed-li-template">
    <li>
        I didn't <%= habit %> and saved £<%= amount %> for a <%= goal %>
    </li>
  </script>

  <div data-role="page" id="config">
    <div data-role="header" data-position="fixed" data-id="title">
      <a href="#help0" data-role="button" data-icon="star" data-iconpos="notext">Help</a>
      <h1>Sayvd</h1>
      <a href="#config" data-role="button" data-icon="gear" data-iconpos="notext" class="ui-btn-active ui-state-persist">Options</a>
    </div>
    <div data-role="content">
      <div>This would be where you could configure obscure options, but it's not made yet, so there's nothing here.</div>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script src="js/models/habitmodel.js"></script>
  <script src="js/models/goalmodel.js"></script>
  <script src="js/models/savemodel.js"></script>
  <script src="js/models/setupmodel.js"></script>
  <script src="js/models/appmodel.js"></script>

  <script src="js/views/habitview.js"></script>
  <script src="js/views/goalview.js"></script>
  <script src="js/views/saveview.js"></script>
  <script src="js/views/feedview.js"></script>
  <script src="js/views/setupview.js"></script>
  <script src="js/views/appview.js"></script>

  <script src="js/main.js"></script>

</body>
</html>