<!DOCTYPE HTML>
<html>
<head>
  <title>Sayvd</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="libs/css/jquery.mobile.min.css"/>
  <link rel="stylesheet" href="themes/sunshine.min.css"/>
  <link rel="stylesheet" href="libs/css/jquery.jqplot.css" />

  <link rel="stylesheet" href="css/styles.css"/>

  <script src="libs/jquery-1.7.2.min.js"></script>
  <script src="js/custom-scripting.js"></script>
  <script src="libs/jquery.mobile.min.js"></script>
  <script src="libs/cordova-1.8.1.js"></script>

  <script src="libs/underscore-min.js"></script>
  <script src="libs/backbone-min.js"></script>
  <script src="libs/backbone.localStorage-min.js"></script>

  <script src="libs/jshashtable-2.1.min.js"></script>
  <script src="libs/jquery.numberformatter-1.2.3.jsmin.js"></script>
  <script src="libs/jquery.jqplot.min.js"></script>
  <script src="libs/jqplot.pieRenderer.min.js"></script>
  <script src="libs/jqplot.donutRenderer.min.js"></script>

</head>
<body>

  <div data-role="page" id="save" data-theme="a">
    <div data-role="content">
      <div class="banner">
        <a href="#habit" class="habit"></a>
      </div>
      <div>saved £ <input type="text" class="currencytext" value="1.00" data-inline="true"/> <input id="save-currency" type="range" class="amount currency" value="1.0" min="1.0" step="0.1" max="15"/></div>
      <div>
        <span>for a </span><span class="goal"></span>
      </div>
      <a href="#aftersave" class="save" data-role="button">Save</a>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save" class="ui-btn-active ui-state-persist">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="aftersave" data-theme="a">
    <div data-role="content">
      <p>High five!</p>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="habit" data-theme="a">
    <div data-role="content">
      <h2>I saved on</h2>
      <ul class="habit-list">
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save" class="ui-btn-active ui-state-persist">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/template" id="habit-li-template">
    <li>
      <a href="#save" style="background-image:url('<%= imageurl %>')">
      </a>
    </li>
  </script>

  <div data-role="page" id="goal" data-theme="a">
    <div data-role="navbar">
      <ul>
        <li><a href="#goal" class="ui-btn-active ui-state-persist">My goals</a></li>
        <li><a href="#newgoal">New goal</a></li>
      </ul>
    </div>
    <div data-role="content">
      <ul class="goal-list" data-role="listview">
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal" class="ui-btn-active ui-state-persist">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/template" id="goal-li-template">
    <li>
      <a href="#currentgoal">
        <h3>Goal: <%= name %></h3>
        <div class="percentage"><%= percentage %></div>
        <div>Saved £<span class='saved'><%= saved %></span> of £<span class='target'><%= target %></span></div>
        <div class="bar">
          <div class="filled edge left"></div>
          <div class="filled within" style="width:<%= filledwidth %>"></div>
          <div class="within" style="width:<%= unfilledwidth %>%"></div>
          <div class="edge right<%= completelyfilled ? ' filled' : ''%>"></div>
        </div>
      </a>
    </li>
  </script>

  <div data-role="page" id="newgoal" data-theme="a">
    <div data-role="navbar">
      <ul>
        <li><a href="#goal">My goals</a></li>
        <li><a href="#newgoal" class="ui-btn-active ui-state-persist">New goal</a></li>
      </ul>
    </div>
    <div data-role="content">
      <div class="subtitle">Set a new goal</div>
      <div>What are you saving for?</div>
      <input class="name" type="text" value="Goal"/>
      <div>Price £ <input class="target currency" type="range" value="100" min="20" step="10" max="500"/></div>
      <a class="save" href="#goal" data-role="button">Save</a>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal" class="ui-btn-active ui-state-persist">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="currentgoal" data-theme="a">
    <div data-role="navbar">
      <ul>
        <li><a href="#goal">My goals</a></li>
        <li><a href="#newgoal">New goal</a></li>
      </ul>
    </div>
    <div data-role="content">
      <h3>Goal: <span class="name"></span></h3>
      <div id="habit-pie"></div>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal" class="ui-btn-active ui-state-persist">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div data-role="page" id="feed" data-theme="a">
    <div data-role="content">
      <ul class="save-list" data-role="listview">
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" data-id="mainmenu">
      <div data-role="navbar">
        <ul>
          <li><a href="#feed" class="ui-btn-active ui-state-persist">Feed</a></li>
          <li><a href="#save">Save</a></li>
          <li><a href="#goal">Goals</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/template" id="feed-li-template">
    <li>
        I didn't <%= habit %> and saved £<%= amount %> for a <%= goal %>
    </li>
  </script>

  <script src="js/models/habitmodel.js"></script>
  <script src="js/models/goalmodel.js"></script>
  <script src="js/models/savemodel.js"></script>
  <script src="js/models/setupmodel.js"></script>
  <script src="js/models/appmodel.js"></script>

  <script src="js/views/habitview.js"></script>
  <script src="js/views/goalview.js"></script>
  <script src="js/views/saveview.js"></script>
  <script src="js/views/feedview.js"></script>
  <script src="js/views/appview.js"></script>

  <script src="js/main.js"></script>

</body>
</html>